@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page {
  @include margin-bottom(2);

  &__inner {
    padding: 25px 20px;
  }

  &__title {
    font-size: $typographic-base-font-size * 2.5;
    font-weight: 600;
    @include line-height(2);
    @include margin-top(0);
    @include margin-bottom(1.45);
  }

  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin(0, 0, 1);
  }

}

.tags {
  border-radius: 8px;
  border: solid 1px #FAFAFA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
      &-item {
        margin: 5px;
        background-color: #FAFAFA;
          &-link {
            color: #a6abb2;
            &:hover{
              color: #666;
            }
            &:focus {
              color: black;
            }
          }
      }
  }
}

@include breakpoint-sm {
  .page {
    lost-column: 7/12;

    &__inner {
      padding: 30px 20px;
    }

  }

}

@include breakpoint-md {
  .page {
    lost-column: 2/3;

    &__inner {
      padding: 40px 35px;
    }

  }

}